{
    "msgtype": "markdown",
    "markdown": {
        "content": "Merge Request [!{{.MergeRequestId}} {{.Title}}]({{.Url}}) \n<font color=\"comment\">{{.Status}} by </font> {{.UserName}} | in [{{.RepositoryName}}]({{.RepositoryHomePage}})\n {{ if ne .Assignee.AssigneeName "" }} > <font color=\"comment\">Assigned To:</font> {{.Assignee.AssigneeName}} {{ end }}"
    }
}
