{
"msgtype": "markdown",
"markdown": {
"content": "{{.WorkItemType}} [#{{.Resource.Id}}: {{.Resource.Title}} ]({{.Resource.Url}}) \n
<font color=\"comment\">Commented By</font> {{.ActivatedBy}} | <font color=\"comment\">From</font> {{.ProjectName}}
> <font color=\"info\">{{.Comment}}</font>
"
}
}
