{
"msgtype": "markdown",
"markdown": {
"content": "{{.WorkItemType}} [#{{.Resource.Id}}: {{.Resource.Title}} ]({{.Resource.Url}}) \n
<font color=\"comment\">Created By</font> {{.CreatedBy}} | <font color=\"comment\">From</font> {{.ProjectName}} \n
> AssignedTo: <font color=\"info\">{{.AssignedTo}}</font>
> State: <font color=\"info\">{{.State}}</font>
"
}
}
